<header>
    <div class="LogoBlockHeader">
        <img src="~/images/admin_images/LogoAdmin.png" alt="Logo" />
        <a>Стекло<br>Про<br>Юг</a>

    </div>

    <div class="PanelBlockHeader">
        <ul>
            <li class="OrderHeaderButton"><a href=""></a></li>
            <li class="PrintHeaderButton" onClick="window.print()"><a href=""></a></li>
            <a href="https://translate.google.com/?hl=ru" target="_blank"><li class="TrnsltHeaderButton"></li></a>
            <li class="NoteHeaderButton"><a href=""></a></li>
        </ul>

        <div class="ClockDateHeader">
            <h1 id="ClockHeader">00:00:00</h1>
            <h2 id="DateHeader">ДД, 0.00 0000</h2>
        </div>
    </div>

    <div class="UserBlockHeader">
        <img src="~/images/admin_images/icons8_customer_64px.png" alt="Польз.">
        <div class="aboutUserGeader">
            <b>---</b><br>
            <a>---</a>
        </div>
    </div>
</header>