<title>Админ | Стекло Про Юг</title>
<link href="~/css/mian_admin.css" rel="stylesheet">
<meta charset="utf-8">
<meta name="viewport" content="width = 1170">
<script src="~/JS/JQ.js"></script>
<script src="~/js/main_script_admin.js"></script>