<!--
<img src="~/images/close.svg" class="close_svg" width="13px">
<center><a>Оставь номер тут, а мы<br>перезвоним!</a></center>
<form asp-area="Home" asp-controller="UserPhone" asp-action="UserPhoneEdit" method="post" enctype="multipart/form-data">
    <div class="input">
        <div asp-validation-summary="All"></div>
        <div class="pop_input">
            <input type="text" asp-for="Name" placeholder="Имя:"></input>
            <span asp-validation-for="Name"></span>
        </div>

        <div class="pop_input">
            <input type="phone" asp-for="PhoneNum" placeholder="Телефон:"></input>
            <span asp-validation-for="PhoneNum"></span>
        </div>

        <div class="pop_input">
            <input type="submit"></input>
        </div>
    </div>
</form>
<div class="mail_lb">
    <a>Также можно написать нам на почту:</a>
    <a id="mail_copy" href="mailto:steklopro23@mail.ru">steklopro23@mail.ru</a>
</div>
   -->
