<section id="catalog_anchor">
    <div class="catalog_body">
        <h1>Каталог услуг:</h1>
        <ul class="catalog_grid">
            <li>
                <div class="catalog_grid_el_text">
                    <a>
                        <h2>Стеклянные лестницы</h2>
                        <b>Купить в Краснодаре</b>
                    </a>
                </div>
                <img src="images/Catalog/Стеклянные-лестницы-в-Краснодаре.jpg">
            </li>

            <li>
                <div class="catalog_grid_el_text">
                    <a>
                        <h2>Стеклянные перегородки</h2>
                        <b>Купить в Краснодаре</b>
                    </a>
                </div>
                <img src="images/Catalog/Стеклянные-перегородки-в-Краснодаре.jpg">
            </li>

            <li>
                <div class="catalog_grid_el_text">
                    <a>
                        <h2>Стеклянные полки</h2>
                        <b>Купить в Краснодаре</b>
                    </a>
                </div>
                <img src="images/Catalog/Стеклянные-полки-и-тросовые-системы-в-Краснодаре.jpg">
            </li>

            <li>
                <div class="catalog_grid_el_text">
                    <a>
                        <h2>Трансформируемые акустические перегородки</h2>
                        <b>Купить в Краснодаре</b>
                    </a>
                </div>
                <img src="images/Catalog/Трансформируемые-акустические-перегородки-в-Краснодаре.jpg">
            </li>

            <li>
                <div class="catalog_grid_el_text">
                    <a>
                        <h2>Трансформируемые стеклянные перегородки</h2>
                        <b>Купить в Краснодаре</b>
                    </a>
                </div>
                <img src="images/Catalog/Трансформируемые-стеклянные-перегородки-в-Краснодаре.jpg">
            </li>

            <li>
                <div class="catalog_grid_el_text">
                    <a>
                        <h2>Стеклянные перегородки</h2>
                        <b>Купить в Краснодаре</b>
                    </a>
                </div>
                <img src="images/Catalog/Стеклянные-перегородки-в-Краснодаре.jpg">
            </li>

            <li>
                <div class="catalog_grid_el_text">
                    <a>
                        <h2>Стеклянные перегородки</h2>
                        <b>Купить в Краснодаре</b>
                    </a>
                </div>
                <img src="images/Catalog/Стеклянные-перегородки-в-Краснодаре.jpg">
            </li>

            <li>
                <div class="catalog_grid_el_text">
                    <a>
                        <h2>Стеклянные перегородки</h2>
                        <b>Купить в Краснодаре</b>
                    </a>
                </div>
                <img src="images/Catalog/Стеклянные-перегородки-в-Краснодаре.jpg">
            </li>

            <li>
                <div class="catalog_grid_el_text">
                    <a>
                        <h2>Стеклянные перегородки</h2>
                        <b>Купить в Краснодаре</b>
                    </a>
                </div>
                <img src="images/Catalog/Стеклянные-перегородки-в-Краснодаре.jpg">
            </li>

            <li>
                <div class="catalog_grid_el_text">
                    <a>
                        <h2>Стеклянные перегородки</h2>
                        <b>Купить в Краснодаре</b>
                    </a>
                </div>
                <img src="images/Catalog/Стеклянные-перегородки-в-Краснодаре.jpg">
            </li>

        </ul>
    </div>
</section>