<ul>
    <li><a href="">Краснодар</a></li>
    <li><a href="">Сочи</a></li>
    <li><a href="">Новороссийск</a></li>
    <li><a href="">Армавир</a></li>
    <li><a href="">Ейск</a></li>
    <li><a href="">Туапсе</a></li>
    <li><a href="">Крымск</a></li>
    <li><a href="">Анапа</a></li>
    <li><a href="">Тимашевск</a></li>
    <li><a href="">Геленджик</a></li>
</ul>