<footer>
    <div class="footer_addres">
        <img src="~/images/home_address_64px.png">
        <a>г. Краснодар</a>
        <p>Ул.Красная, Д.145/1, Оф.10</p>
    </div>

    <div class="footer_content">
        <h3>Мы в сойиальных сетях:</h3>
        <ul class="soc_net_ITEMS_footer">
            <li class="soc_net_icon_footer"><a href="https://www.instagram.com/steklovkrasnodare/" target="_blank"><img src="~/images/social_icons/instagram.png"></a></li>
            <li class="soc_net_icon_footer"><a><img src="~/images/social_icons/wa.png"></a></li>
            <li class="soc_net_icon_footer"><a><img src="~/images/social_icons/email.png"></a></li>
            <li class="soc_net_icon_footer"><a><img src="~/images/social_icons/phone.png"></a></li>
        </ul>

        <ul class="menu_ITEMS_footer">
            <li class="menu_item_footer"><a href="#">Главная</a></li>
            <li class="menu_item_footer"><a href="#">Рассчитать</a></li>
            <li class="menu_item_footer"><a href="#">Каталог</a></li>
            <li class="menu_item_footer"><a href="#">Галерея</a></li>
            <li class="menu_item_footer"><a href="#">О нас</a></li>
        </ul>
    </div>

    <b>©2021 Все права защищены - ООО «СТЕКЛО В КРАСНОДАРЕ»</b>
</footer>