:root{

    --d_color: #23202D;

    --gd_gr_color: #9f7e61;
    --pu_gr_color: #7255D0;

    --old-gr-one: #7A5FFF;
    --old_gr-two: #01FF89;

    --m_bt_color: #5F577A;
    --l_bt_color: #9B8DC7;
}

#_escal{
    width: 90%;
    transform: scale(1);
    position: absolute;
    visibility: hidden;
}


#bath{
    visibility: hidden;
    
}

#border_svg{
    width: 85%;
    visibility: visible;
    position: absolute;
    justify-self: center;
  }

.glass{
    align-self: start;
    position: absolute;
}

.border{
    display: grid;
}


.cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9, .cls-10, .cls-11, .cls-12, .cls-13{
    animation: build_esc 1.1s ease-in-out 1;
    animation-fill-mode: forwards;
    opacity: 0%;
    height: 70.09px;
    width: 0px;
}

.cls-3{animation-delay: 0.1s;}
.cls-4{animation-delay: 0.2s;}
.cls-5{animation-delay: 0.3s;}
.cls-6{animation-delay: 0.4s;}
.cls-7{animation-delay: 0.5s;}
.cls-8{animation-delay: 0.6s;}
.cls-9{animation-delay: 0.7s;}
.cls-10{animation-delay: 0.8s;} 
.cls-11{animation-delay: 0.9s;}
.cls-12{animation-delay: 1.0s;}
.cls-13{animation-delay: 1.1s;}

.cls-1 {
    fill: url(#logo-gradient);
    transform-origin: center;
    animation: scale_bg_esc 1s ease-out;
    transition: all 0.6s ease-out;
}

#_escal:hover .cls-1{
    transform: scale(1.04);
    transition: all 0.6s ease-out;
    
}

#_escal:hover{
    cursor: pointer;
}

@keyframes build_esc {
    
    0%{
        height: 0%;
        opacity: 0%;
        width: 0px;
    }

    100%{
        opacity: 100%;
        width: 352.78px;
    }
}

@keyframes scale_bg_esc{
    0%{
        transform: scale(1.1);
        opacity: 0%;
    }

    100%{
        transform: scale(1);
        opacity: 100%;
    }
}

.cls-2 {fill: url(#81-2);}
.cls-3 {fill: url(#81-2);}
.cls-4 {fill: url(#81-3);}
.cls-5 {fill: url(#81-4);}
.cls-6 {fill: url(#81-5);}
.cls-7 {fill: url(#81-6);}
.cls-8 {fill: url(#81-7);}
.cls-9 {fill: url(#81-8);}
.cls-10 {fill: url(#81-9);}
.cls-11 {fill: url(#81-10);}
.cls-12 {fill: url(#81-11);}
.cls-13 {fill: url(#81-12); }

/*------------------------------bath--------------------------------*/

.bath_svg{
    min-width: 349px;    
    height: 450px;
    transform: scale(1);
    transform-origin: center;
}
.bg_svg{
    position: absolute;
    height: 475px;
    width: 500px;
    transform: translateX(-50%);
    left: 50%;
}

#svg_wave{
    fill:#fff; 
}
.bg_rect{
    width: 100%;
    height: 100%;
    mask: url("#steam_mask");
    fill:url(#steam_gr);
}

.cls-mask{
    fill:rgb(169, 169, 169);
    animation: steam_scale 10s ease-out infinite;
    transform-origin: center;
    transition: 2s;
}

@keyframes steam_scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
    }
}

.bath_bottom{
    width: 214px;
    height: 67px;
    fill: #7255D0;
    transform: skew(-60deg);
    y:375.3px;
    x:774.7px;
}


.border_bath_bottom{
    width: 0px;
    height: 0px;
    
    /*width: 222px;
    height: 71px;*/
    fill: #fff;
    transform: skewX(-60deg);
    y:374px;
    x:772px;
    animation: build_bath ease 1s ;
    animation-fill-mode: forwards;
}

@keyframes build_bath{
    0%{
        width: 0px;
        height: 0px;
    }
    100%{
        width: 222px;
        height: 71px;
    }
}

.front_wall{
    fill: url(#blue_gr_1);
    animation: build_f_wall ease 1.8s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    transform-origin: bottom;
    transform: scaleY(0);
    position: absolute;
    width: 222px;
    height: 360px;
    y:85px;
    stroke: #dedede;
    stroke-width:3px;
}

@keyframes build_f_wall{
    0%{
        transform: scaleY(0);
        stroke: #dedede;
        stroke-width:0px;
        
    }
    100%{
        transform: scaleY(1);
        stroke: #dedede;
        stroke-width:3px;
    }
}

.right_wall{
    fill: url(#blue_gr_2);
    animation: build_r_wall ease 1.8s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    transform-origin: bottom;
    height: 0px;
    width: 124px;
    transform: skewY(-30deg);
    transform-origin: top left;
    x:222px;
    y:213px;


}

@keyframes build_r_wall{
    0%{
      height: 0px;  
      stroke: #c2c2c2;
      stroke-width:0px;
    }
    100%{
        height: 360px;
        stroke: #c2c2c2;
        stroke-width:2px;
    }
}

.bath_top{
    fill:url(#dark_gr);

    animation: build_bath_top ease-in-out 1.2s;
    animation-fill-mode: forwards;
    animation-delay: 2.2s;

    width: 222px;
    height: 71px;
    transform: skewX(-60deg);
    transform-origin: bottom right;
    opacity: 0%;
    x:-632px;
    y:14px;
}

@keyframes build_bath_top{
    100%{
       opacity: 100%;
    }
}

.line_bottom{
    width: 0px;
    height: 20px;
    fill: var(--l_bt_color);
    y:425px;
    animation: line_bottom_show 0.5s linear;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

@keyframes line_bottom_show{
    0%{
        width: 0px;
    }
    100%{
        width: 222px;
        stroke:var(--l_bt_color);
    }
}

.line_right{
    transform: skewY(-30deg);
    transform-origin: left top;
    width: 0px;
    height: 20px;
    fill: var(--m_bt_color);
    x:223px;
    y:555px;
    animation: right_bottom_show 0.7s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
}


@keyframes right_bottom_show{
    0%{
        width: 0px;
    }
    100%{
        width: 124px;
        stroke: var(--m_bt_color);
    }
}

/*-------------------------Borders---------------------------*/

.cls-bordder-1, .cls-bordder-10, .cls-bordder-11, .cls-bordder-12, .cls-bordder-13, .cls-bordder-14, .cls-bordder-2, .cls-bordder-3, .cls-bordder-4, .cls-bordder-5, .cls-bordder-6, .cls-bordder-7, .cls-bordder-8, .cls-bordder-9 {
    fill: none;
  }

  .cls-bordder-1, .cls-bordder-10, .cls-bordder-11, .cls-bordder-12, .cls-bordder-13, .cls-bordder-14, .cls-bordder-15, .cls-bordder-16, .cls-bordder-2, .cls-bordder-3, .cls-bordder-4, .cls-bordder-5, .cls-bordder-6, .cls-bordder-7, .cls-bordder-8, .cls-bordder-9 {
    stroke-miterlimit: 10;
  }

  .cls-bordder-1 {
    stroke-width: 4px;
    stroke: url(#border_bg_352);
  }

  .cls-bordder-2 {
    stroke-width: 4.25px;
    stroke: url(#border_bg_3798);
  }

  .cls-bordder-3 {
    stroke-width: 4.5px;
    stroke: url(#border_bg_3797);
  }

  .cls-bordder-4 {
    stroke-width: 4.75px;
    stroke: url(#border_bg_3796);
  }

  .cls-bordder-5 {
    stroke-width: 5px;
    stroke: url(#border_bg_3795);
  }

  .cls-bordder-6 {
    stroke-width: 5.25px;
    stroke: url(#border_bg_3794);
  }

  .cls-bordder-7 {
    stroke-width: 5.5px;
    stroke: url(#border_bg_3793);
  }

  .cls-bordder-8 {
    stroke-width: 5.75px;
    stroke: url(#border_bg_3792);
  }

  .cls-bordder-9 {
    stroke-width: 6px;
    stroke: url(#border_bg_3791);
  }

  .cls-bordder-10 {
    stroke-width: 6.25px;
    stroke: url(#border_bg_3790);
  }

  .cls-bordder-11 {
    stroke-width: 6.5px;
    stroke: url(#border_bg_3789);
  }

  .cls-bordder-12 {
    stroke-width: 6.75px;
    stroke: url(#border_bg_3788);
  }

  .cls-bordder-13 {
    stroke-width: 7px;
    stroke: url(#border_bg_46);
  }

  .cls-bordder-14 {
    stroke-width: 3px;
    stroke: url(#border_bg_46-2);
  }

  .cls-bordder-15, .cls-bordder-16 {
    stroke: #9b8dc7;
  }

  .cls-bordder-15 {
    fill: url(#border_bg_2013);
  }

  .cls-bordder-16 {
    fill: url(#border_bg_1981);
  }

  .border{
      width: 100%;
      height: 100%;
      position: absolute;
 
  }
  .cls-bordder-14{
      transform: translateY(150px);
      animation: glass_up 1.3s ease-in-out;
      animation-fill-mode: forwards;
      animation-delay: 2.8s;
      opacity: 0;
  }
  @keyframes glass_up{ 
      0%{
        transform: translateY(150px);
        opacity: 0;;
      }
      100%{
        transform: translateY(0);
        opacity: 1;
      }
  }

#Front, #Back{
    opacity: 0;
    animation: borders_vis 1.5s ease-in-out;
    animation-fill-mode: forwards;
    transform-origin: center;
    animation-delay: 4s;
}
@keyframes borders_vis{
    0%{
        opacity: 0;
    }
    100%{
        
        opacity: 1;
    }
}

.cls-bordder-13{
    opacity: 0;
    animation: halls_border 1s ease-in-out forwards;
    
}

@keyframes halls_border{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.cls-bordder-12{
    opacity: 0;
    
    animation: hall_animation 0.7s ease-in-out forwards;
    animation-delay: 2.5s;
}
.cls-bordder-11{
    opacity: 0;
    
    animation: hall_animation 0.7s ease-in-out forwards;
    animation-delay: 2.3s;
}
.cls-bordder-10{
    opacity: 0;
    
    animation: hall_animation 0.7s ease-in-out forwards;
    animation-delay: 2.1s;
}
.cls-bordder-9{
    opacity: 0;
    
    animation: hall_animation 0.7s ease-in-out forwards;
    animation-delay: 1.9s;
}
.cls-bordder-8{
    opacity: 0;
    
    animation: hall_animation 0.7s ease-in-out forwards;
    animation-delay: 1.7s;
}
.cls-bordder-7{
    opacity: 0;
    
    animation: hall_animation 0.7s ease-in-out forwards;
    animation-delay: 1.5s;
}
.cls-bordder-6{
    opacity: 0;

    
    animation: hall_animation 0.7s ease-in-out forwards;
    animation-delay: 1.3s;
}
.cls-bordder-5{
    opacity: 0;

    animation: hall_animation 0.7s ease-in-out forwards;
    animation-delay: 1.1s;
}
.cls-bordder-4{
    opacity: 0;

    animation: hall_animation 0.7s ease-in-out forwards;
    animation-delay: 0.9s;
}
.cls-bordder-3{
    opacity: 0;

    animation: hall_animation 0.7s ease-in-out forwards;
    animation-delay: 0.7s;
}
.cls-bordder-2{
    animation: hall_animation 0.7s ease-in-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
}
.cls-bordder-1{
    animation: hall_animation 0.7s ease-in-out forwards;
    animation-delay: 0.3s;
    opacity: 0;
}
@keyframes hall_animation{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

#border_svg{
    animation: plato 4s ease;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: both;
    animation-delay: 5s;
}

@keyframes plato{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
}