@font-face{
    font-family: GBlack;
    src: url(../font/Gilroy-Black.ttf);
}

@font-face{
font-family: GEBold;
src: url(../font/Gilroy-ExtraBold.ttf);
}

@font-face{
    font-family: GBold;
    src: url(../font/Gilroy-Bold.ttf);
}
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #CEECF2;
}


header{
    display: grid;
    grid-template-columns: 4fr 10fr 4fr;    
    grid-column-gap: 20px;
    grid-template-areas: "logo nav place";
    min-height:190px;
    padding-top: 35px;
    grid-area: mHeader;
}
header .headerLogo{
    grid-area: logo;
    justify-self: center;
}

.headerLogo img{
    justify-self: center;
}

header .headerNav{
    grid-area: nav;
    text-align: center;
    padding-right: 21px;
    padding-left: 21px;
    display: grid;
    grid-template-columns: repeat(6, auto);
    background-color: #6F8CA6;
    border-radius: 30px;
    height: 41px;
}

header .headerPlaceBtn{
    grid-area: place;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-column-gap: 10px;
    justify-self: center;
    align-items: center;
    background: #586BA6;
    height: 41px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 60px;
    font-size: 16.4px;
    letter-spacing: 1.15px;
    color: #CEECF2;
    text-decoration: none;
    font-family: GBold;
}

.headerNavLink{
    color:#E6F7FF;
    text-decoration: none;
    font-family: GBold;
    font-size: 16.4px;
    letter-spacing: 1.90px;
    padding: 10px;
    transition: 0.5s;
}

.headerNavLink:hover{
    color: #fff;
    transition: 0.5s;
}

.HeaderText h1{
    font-family: GEBold;
    color: #586BA6;
    font-size: 38pt;
    padding-bottom: 2px;
    letter-spacing: 1.90px;
}
.HeaderText h2{
    font-family: GBold;
    color: #6F8CA6;
    font-size: 30pt;
    letter-spacing: 1.46px;
}
.ContentSpace{
    display: grid;
    grid-template-columns: 1fr 5fr 8fr;
    grid-template-rows: 4fr 0.8fr 0.8fr 2.5fr;
    grid-template-areas: 
                    ". text img"
                    ". CalcBtn ."
                    ". CallBtn ."
                    ". tScroll .";
    grid-row-gap: 7px;               
    min-height: 100px;
    grid-column-gap:30px;
} 
.ContentSpace .HeaderText{
    grid-area: text;
}

.ContentSpace .ImageCont{
    grid-area: img;
}

.ContentSpace #CalcBtn{
    grid-area: CalcBtn;
    display: grid;
    align-items: center;
}

.ContentSpace #CallBtn{
    display: grid;
    grid-area: CallBtn;
    max-width: 45%;
    grid-template-columns: 5fr 1fr 5px;
    align-items: center;
}

.ContentSpace #CallBtn img{
    background: #586BA6;
    height: 42px;
    width: 42px;
    border: solid 10px #586BA6;
    border-radius: 18px;
}

.ContentSpace .button{
    border-radius: 60px;
    border: solid 3.4px #586BA6;
    text-decoration: none;
    font-family: GBold;
    font-size: 16.4px;
    color:#586BA6;
    max-width: 56%;
    height: 55px;
    padding-left: 17px;
}


.ContentSpace .buttonBtm {
    display: grid;
    grid-template-columns: 1fr 7.5fr;
    grid-column-gap: 5px;
    grid-area: tScroll;
    align-self: end;
    font-family: GBold;
    text-decoration: none;
    color: #6F8CA6;
    font-size: 15pt;
    letter-spacing: 1.7px;
    align-items: center;
    
}
.buttonBtm img{
    padding:7px;
    background: #6F8CA6;
    border-radius: 100%;
}
