
:root{
    --d_color: #23202D;
    --m_color: #81919D;
    --l_color: #e9edee;
    --lm_color: #dee1e2;
    --dg_color: #8B847E;
    --bl_color: #2D7AB7;
    --pu_color: #9295DE;

    --dg_bl_color: #B0BCD9;
    --dg_pu_color: #78728C;

    --gd_gr_color: #9f7e61;
    --pu_gr_color: #7255D0;
}

@font-face{
    font-family: GBlack;
    src: url(../font/Gilroy-Black.ttf);
}

@font-face{
font-family: GEBold;
src: url(../font/Gilroy-ExtraBold.ttf);
}

@font-face{
    font-family: GBold;
    src: url(../font/Gilroy-Bold.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background: #000;
    height: 100%;
}

.headerNavigationBlock{
    display: grid;
    grid-template-columns: auto 50% auto;  
    grid-column-gap: 20px;
    grid-template-areas: "logo nav place";
    min-height:160px;
    padding-top: 35px;
    grid-area: navBlock;
    z-index: 1;
}

.bg_logo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.7;
}
header{
    display: grid;
    grid-template-rows: 160px auto;
    grid-template-columns: 100%;
    grid-template-areas: 
                    "navBlock"
                    "contentSpace";

    min-height:190px;
    background-color: var(--d_color);
    height: 100vh;
}
header .headerLogo{
    grid-area: logo;
    justify-self: center;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 10px;  
    color: var(--lm_color);
    text-decoration: none;
    font-family: GBlack;
    font-size: 19px;

}

.headerLogo img{
    justify-self: center;
    border-radius: 12px;
    border: solid 3px var(--dg_color)
}

header .headerNav{
    display: grid;
    grid-area: nav;
    text-align: center;
    padding-right: 21px;
    padding-left: 21px;
    grid-template-columns: repeat(6, auto);
    
    border-radius: 30px;
    height: 45px;
}

header .headerPlaceBtn{
    grid-area: place;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-column-gap: 10px;
    justify-self: center;
    align-items: center;
    height: 43px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 60px;
    font-size: 1.1vw;
    letter-spacing: 1.15px;
    color: var(--l_color);;
    text-decoration: none;
    font-family: GBold;

    background: linear-gradient(90deg, var(--pu_gr_color) 0%, var(--gd_gr_color) 15%,  var(--pu_gr_color) 100%);
    background-size: 200% 120%;
    
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    -o-animation: AnimationName 10s;
    animation: AnimationName 10s ease infinite;

}

header .headerPlaceBtn:hover{
    background: linear-gradient(45deg, var(--pu_gr_color) 30%, var(--gd_gr_color) 50%,  var(--pu_gr_color) 70%);
    background-size: 500% 120%;
    

    -webkit-animation: AnimationName 2.5s ease-out infinite;
    -moz-animation: AnimationName 2.5s ease-out infinite;
    -o-animation: AnimationName 2.5s;
    animation: AnimationName 2.5s ease-out infinite;
}

    @-webkit-keyframes AnimationName {
        0%{background-position:57% 0%}
        50%{background-position:44% 100%}
        100%{background-position:57% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:57% 0%}
        50%{background-position:44% 100%}
        100%{background-position:57% 0%}
    }
  
    @keyframes AnimationName {
        0%{background-position:57% 0%}
        50%{background-position:44% 100%}
        100%{background-position:57% 0%}
    }

.headerNavLink{
    color:var(--m_color);
    text-decoration: none;
    font-family: GBold;
    font-size: 1.1vw;
    letter-spacing: 1.90px;
    align-self: center;
    transition: 0.5s;
}


.headerNavLink:hover{
    color: #fff;
    transition: 0.5s;
}

#main_link{
    color:var(--l_color);
}

.HeaderText h1{
    font-family: GEBold;
    color: var(--l_color);
    font-size: 60px;
    padding-bottom: 2px;
    letter-spacing: 1.90px;
}
.HeaderText h2{
    font-family: GBold;
    color: var(--m_color);
    font-size: 46px;
    letter-spacing: 1.46px;
}
.ContentSpace{
    display: grid;
    grid-template-columns: 1fr 6fr 8fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
                    ". lContent img"
                    ". tScroll img";
    grid-row-gap: 7px;               
    min-height: 100px;
    grid-column-gap:30px;
    grid-area: contentSpace;
    padding-bottom: 3%;
    z-index: 1;
}
.leftContent{
    grid-area: lContent;
    display: grid;
    grid-template-rows: 0.6fr 55px 55px;
    grid-row-gap: 7px;
    grid-template-areas: 
                    "text"
                    "CalcBtn"
                    "CallBtn";
    align-self: center;

}
.leftContent .HeaderText{
    grid-area: text;    
    align-self: center;
    padding-bottom: 7px;
}

.ContentSpace .ImageCont{
    grid-area: img;
    display: grid;
    justify-items: center;
    align-items: start;
}

#_escal{
    width: 90%;
    display: grid;
}

#_escal:hover{
    opacity: 0%;
}

.leftContent #CalcBtn{
    grid-area: CalcBtn;
    display: grid;
    align-items: center;
}

.leftContent #CallBtn{
    display: grid;
    grid-area: CallBtn;
    max-width: 240px;
    grid-template-columns: 5fr 1fr 5px;
    align-items: center;
}

.leftContent #CallBtn img{
    background: var(--dg_color);
    height: 42px;
    width: 42px;
    border: solid 10px var(--dg_color);
    border-radius: 18px;
}

.leftContent .button{
    border-radius: 60px;
    border: solid 3.4px var(--dg_color);
    text-decoration: none;
    font-family: GBold;
    font-size: 17px;
    color:var(--l_color);
    width: 300px;
    height: 55px;
    padding-left: 3%;
    transition: all 0.2s;
}

.leftContent .button:hover{
    background: var(--bl_color);
    color: var(--l_color);
    transition: all 0.5s;
    border: solid 3.4px var(--l_color);
}

.leftContent .buttonnot:not(:hover){
    transition: all 0.5s;
    border: solid 3.4px var(--bl_color);
}


.buttonBtm {
    display: grid;
    grid-area: tScroll;
    grid-template-columns: 60px 1fr;
    grid-column-gap: 5px;
    font-family: GBold;
    text-decoration: none;
    color: var(--l_color);
    font-size: 1.3vw;
    letter-spacing: 1.7px;
    align-items: center;
    justify-items: start;
    align-self: end;
    min-height: 50px;
}

.buttonBtm img{
    background: var(--pu_color);
    border-radius: 100%;
    border: solid 5px var(--pu_color);

}

