@model FitCalc
@{
    string strTitle = "Фурнитура редактирование";
    ViewBag.Title = strTitle;
}

<div>
    <h2>@strTitle:</h2>
    <div>
        <form asp-area="Admin" asp-controller="Fittings" asp-action="Edit" method="post" enctype="multipart/form-data">

            <div class="EditSpace">
                <div asp-validation-summary="All"></div>

                <div>
                    <h3>Наименование:</h3>
                    <input asp-for="TypeFit" value="@(Model.TypeFit)">
                    <span asp-validation-for="TypeFit"></span>
                </div>

                <div>
                    <h3>Цена:</h3>
                    <input asp-for="PriceFit" value="@(Model.PriceFit)">
                    <span asp-validation-for="PriceFit"></span>
                </div>

                <input type="submit" value="Сохранить">
            </div>
        </form>
    </div>
</div>