<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("Admin/MetaAdminPartial")

</head>
<body>

    @await Html.PartialAsync("Admin/HeaderAdmin")

    <div class="ContentSpaceAdmin">
    @await Html.PartialAsync("Admin/MainColAdmin")


        <div class="MainContentAdmin">
            @RenderBody()
        </div>

    </div>
</body>
</html>
